@media only screen and (min-width: 992px) {
    .minimize {
        float: left;
        font-size: 6vh;
        width: 5%;
    }

    .minimize:focus {
        outline: none;
    }

    .small-img {
        position: absolute;
        width: 35%;
        right: 0;
    }
    .img {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .small-img2 {
        position: absolute;
        width: 35%;
        left: 0;
    }

    .th_heading {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .txt {
        text-align: right;
    }
    #popupformob {
        display: none;
    }
    #rating {
        width: 60%;
        text-align: center;
        left: 20%;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
    }

    #rating i {
        font-size: 3vh;
        padding: 1%;
        transition: 0.2s ease;
        transform: rotate();
    }

    #star:hover {
        color: gold;
    }

    #star:hover~#star {
        color: gold;
    }

    #star:hover~#star {
        color: gold;
    }

    #rating_bar {
        /* border: solid black 1px; */
        width: 70%;
        margin-top: 30px;
        border-radius: 20px;
    }

    .bar_5 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_4 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_3 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_2 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_1 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
        margin-bottom: 10px;
    }

    .prog_5 {
        height: 100%;
        width: 68%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_4 {
        height: 100%;
        width: 12%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_3 {
        height: 100%;
        width: 10%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_2 {
        height: 100%;
        width: 6%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_1 {
        height: 100%;
        width: 4%;
        background-color: gold;
        border-radius: 20px;
    }

    .rating_txt1,
    .rating_txt2,
    .rating_txt3,
    .rating_txt4,
    .rating_txt5 {
        float: right;
    }
}
@media only screen and (max-width: 992px) {

    .minimize {
        float: left;
        font-size: 6vh;
        width: 14%;
    }

    .minimize:focus {
        outline: none;
    }
    .img {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .small-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
    }

    .small-img2 {
        position: relative;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .txt {
        width: 70%;
    }
    .th_heading {
        font-size: 25px;
    }
    #popupforpc {
        display: none;
    }
    #rating {
        width: 80%;
        /* border: solid black 2px; */
        text-align: center;
        /* left: 30%; */
        bottom: 0;
        position: relative;
        transform: rotateY(180deg);
    }

    #rating i {
        font-size: 2vh;
        padding: 1%;
        transition: 0.2s ease;
        transform: rotate();
    }

    #star:hover {
        color: gold;
    }

    #star:hover~#star {
        color: gold;
    }

    #star:hover~#star {
        color: gold;
    }

    #rating_bar {
        /* border: solid black 1px; */
        width: 70%;
        margin-top: 30px;
        border-radius: 20px;
    }

    .bar_5 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_4 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_3 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_2 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
    }

    .bar_1 {
        width: 200%;
        margin-top: 10px;
        height: 2vh;
        border-radius: 10px;
        border: solid 1px gold;
        margin-bottom: 10px;
    }

    .prog_5 {
        height: 100%;
        width: 68%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_4 {
        height: 100%;
        width: 12%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_3 {
        height: 100%;
        width: 10%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_2 {
        height: 100%;
        width: 6%;
        background-color: gold;
        border-radius: 20px;
    }

    .prog_1 {
        height: 100%;
        width: 4%;
        background-color: gold;
        border-radius: 20px;
    }

    .rating_txt1fm,
    .rating_txt2fm,
    .rating_txt3fm,
    .rating_txt4fm,
    .rating_txt5fm {
        float: right;
    }


}